Upload the dataset

Import numpy as np, pandas as pd and tensorflow as tf

In [ ]:
# import numpy, matplotlib, pandas
import numpy as np
import pandas as pd
import tensorflow as tf

Read the dataset, observe its five rows, leave redundant columns and make x and y

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
dataset = pd.read_csv('/content/Churn_Modelling.csv')
X = dataset.iloc[:,3:-1].values
y = dataset['Exited'].values
print(X)
print(y)
dataset.head()

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
[1 0 1 ... 1 1 0]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

Data Preprocessing

Encoding categorical data using Lable Encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder
la=LabelEncoder()
X[:,2] = la.fit_transform(X[:,2])
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

One Hot Encoding the "Geography" column using ColumnTransformer and OneHotEncoder

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder= 'passthrough')
X = np.array(ct.fit_transform(X))
X

array([[1.0, 0.0, 1.0, ..., 1, 1, 101348.88],
       [1.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 1.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 1.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 1.0, ..., 1, 0, 38190.78]], dtype=object)

Splitting the dataset into the Training set and Test set

In [ ]:
from sklearn.model_selection import train_test_split
X_train ,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0);

Feature Scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Building the ANN

In [ ]:
ann = tf.keras.models.Sequential()

Adding the first hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=5,activation='relu'))

Adding the second hidden layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=3,activation='relu'))

Adding the output layer

In [ ]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

Compiling the ANN

In [ ]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

Training the ANN on the Training set

In [ ]:
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 2s 2ms/step - loss: 0.6923 - accuracy: 0.5798
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6120 - accuracy: 0.7961
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5745 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5466 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5190 - accuracy: 0.7983
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4870 - accuracy: 0.8144
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4576 - accuracy: 0.8350
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4361 - accuracy: 0.8411
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4205 - accuracy: 0.8421
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4092 - accuracy: 0.8438
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4005 - accuracy: 0.8449
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3936 - accuracy: 0.8456
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3883 - accuracy: 0.8454
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3839 - accuracy: 0.8459
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3799 - accuracy: 0.8470
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3763 - accuracy: 0.8469
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3736 - accuracy: 0.8472
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3706 - accuracy: 0.8491
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3683 - accuracy: 0.8508
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3658 - accuracy: 0.8503
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3632 - accuracy: 0.8522
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3611 - accuracy: 0.8534
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3587 - accuracy: 0.8529
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3566 - accuracy: 0.8544
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3548 - accuracy: 0.8566
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3532 - accuracy: 0.8572
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3515 - accuracy: 0.8579
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3504 - accuracy: 0.8589
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3491 - accuracy: 0.8609
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3480 - accuracy: 0.8595
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8602
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3467 - accuracy: 0.8615
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.8609
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3455 - accuracy: 0.8629
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3447 - accuracy: 0.8622
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3442 - accuracy: 0.8620
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3437 - accuracy: 0.8635
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3436 - accuracy: 0.8620
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8634
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3428 - accuracy: 0.8624
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8630
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3421 - accuracy: 0.8636
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8630
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8626
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8635
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3413 - accuracy: 0.8624
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3410 - accuracy: 0.8622
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3409 - accuracy: 0.8626
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3407 - accuracy: 0.8648
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3408 - accuracy: 0.8608
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3404 - accuracy: 0.8633
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3403 - accuracy: 0.8630
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3402 - accuracy: 0.8612
Epoch 54/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8627
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3398 - accuracy: 0.8629
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3399 - accuracy: 0.8641
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3397 - accuracy: 0.8625
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8631
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8627
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8634
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8622
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3393 - accuracy: 0.8633
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8612
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3392 - accuracy: 0.8608
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8624
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3393 - accuracy: 0.8618
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8618
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3390 - accuracy: 0.8614
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8616
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8609
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8621
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8612
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8622
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8616
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8620
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8610
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8615
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8604
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8618
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8616
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8608
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8611
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8615
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8620
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8620
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8604
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8600
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8618
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3382 - accuracy: 0.8612
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8608
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8605
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3382 - accuracy: 0.8618
Epoch 93/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3381 - accuracy: 0.8609
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3381 - accuracy: 0.8601
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8593
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8610
Epoch 97/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3380 - accuracy: 0.8609
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3382 - accuracy: 0.8616
Epoch 99/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3382 - accuracy: 0.8612
Epoch 100/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3380 - accuracy: 0.8611

Making the predictions and evaluating the model

In [ ]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)

Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
cm

array([[1519,   76],
       [ 197,  208]])

In [ ]:
accuracy_score(y_test,y_pred)

0.8635